// COLORS
$green: #00703c;
$orange: #e6782a;
$yellow: #ffab05;
$yellow-alt: #e5a821;
$pink: #b0207c;
$white: #ffffff;
$black: #000000;

// FONT
$font-primary: "Inter", sans-serif;

// CONTAINER
$container-desktop: 1170px;
$container-tablet-padding: 30px;
$container-mobile-padding: 20px;

// GRID GAP
$gap-desktop: 30px;
$gap-tablet: 20px;
$gap-mobile: 10px;

// BREAKPOINTS
$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);
