@use "variables" as *;
@use "mixins" as *;
@use "utilities" as *;
@use "components/grid";
@use "components/buttons";
@use "components/typography";
@use "components/hero";
@use "components/timeline";
@use "components/timeline-card";
@use "components/timeline-navigation";
@use "components/kpi";
@use "components/way-forward";
@use "components/gallery";
@use "components/links";
@use "components/social-share";
@use "components/popup";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
}
/* Firefox */
*,
.popup__content__body {
    scrollbar-width: auto;
    scrollbar-color: $orange #f5f5f5;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar,
.popup__content__body::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track,
.popup__content__body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb,
.popup__content__body::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover,
.popup__content__body::-webkit-scrollbar-thumb:hover {
    background: #af4e10;
}

.container {
    @include container;
}

.timeline__1 {
    background-image: url(../images/backgrounds/bg-1.jpg);
    background-size: cover;
    background-position: top center;
}

.timeline__2 {
    background-image: url(../images/backgrounds/bg-2.jpg);
    background-size: cover;
    background-position: top center;
}

.timeline__3 {
    background-image: url(../images/backgrounds/bg-3.jpg);
    background-size: cover;
    background-position: top center;
}

.timeline__4 {
    background-image: url(../images/backgrounds/bg-4.jpg);
    background-size: cover;
    background-position: top center;
}

.timeline__5 {
    background-image: url(../images/backgrounds/bg-5.jpg);
    background-size: cover;
    background-position: top center;
}

.timeline__6 {
    background-image: url(../images/backgrounds/bg-6.jpg);
    background-size: cover;
    background-position: top center;
}

.timeline__7 {
    background-image: url(../images/backgrounds/bg-7.jpg);
    background-size: cover;
    background-position: top center;
}

.timeline__8 {
    background-image: url(../images/backgrounds/bg-8.jpg);
    background-size: cover;
    background-position: top center;
}

.split-line {
    display: inline-block;
    overflow: hidden;
}

.heading-1,
.heading-2,
.timeline__year,
.timeline__content,
.way__forward__content p,
.quick__links__item {
    overflow: hidden;
}

.back__to__top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    pointer-events: none;

    @include tablet {
        right: 20px;
        bottom: 20px;
    }

    @include mobile {
        right: 10px;
        bottom: 10px;
    }

    .btn__top {
        color: $white;
        background-color: $orange;
        border-radius: 50%;
        border: none;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease-out;
        z-index: 2;

        @include mobile {
            width: 40px;
            height: 40px;
        }

        svg {
            stroke: $white;
        }
    }
}
