@use "../variables" as *;
@use "../mixins" as *;

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    .logo {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);

        @include desktop {
            top: 70px;
        }

        @include tablet {
            top: 60px;
        }

        @include mobile {
            top: 50px;
        }

        img {
            @include desktop {
                height: 60px;
            }

            @include tablet {
                height: 50px;
            }

            @include mobile {
                height: 40px;
            }
        }
    }

    .hero__title {
        color: $white;
        position: relative;
        text-align: center;
        z-index: 2;

        @include tablet {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    video {
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(245, 234, 46, 0) 0%, rgba(245, 234, 46, 0.32) 94.27%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
}

.scroll__more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: sans-serif;
    color: #ffff;
    z-index: 2;

    .text {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        line-height: 150%;
        text-transform: uppercase;
    }

    .line {
        width: 1px;
        height: 100px;
        background: linear-gradient(to bottom, transparent, #fff);
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            animation: scrollLine 1.5s ease-in-out infinite;
        }
    }
}

@keyframes scrollLine {
    0% {
        top: -100%;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}
