@use "../variables" as *;
@use "../mixins" as *;

.social__share {
    position: absolute;
    bottom: 60px;
    right: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
        bottom: 230px;
        right: 50%;
        transform: translateX(50%);
        align-items: center;
    }

    &__label {
        color: $white;
        font-size: 16px;
        font-style: normal;
        line-height: 110%;
        text-transform: uppercase;

        @include mobile {
            font-size: 14px;
        }
    }

    &__item {
        display: flex;
        gap: 10px;

        a {
            display: flex;
            width: 46px;
            height: 46px;
            justify-content: center;
            align-items: center;
            gap: 8.214px;
            border-radius: 100%;
            background: $orange;
            transform: scale(1);
            transition: 0.3s ease-out;

            img {
                width: 16px;
                height: 16px;
            }

            &:hover {
                background: #af4e10;
                transform: scale(1.1);
            }
        }
    }
}
