@use "../variables" as *;
@use "../mixins" as *;

.timeline__navigation {
    position: fixed;
    left: 50px;
    top: 60px;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    @include tablet {
        left: 20px;
    }

    @include mobile {
        left: 10px;
        top: unset;
        bottom: 10px;
        right: 10px;
        flex-direction: row;
        padding: 16px;
        background: $white;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05) !important;
    }

    &::after {
        content: "";
        position: absolute;
        left: 14px;
        top: 0;
        width: 1px;
        height: 100%;
        background: rgb(213 213 213 / 66%);
        z-index: -1;

        @include mobile {
            display: none;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;

        @include mobile {
            gap: 4px;
            flex-direction: column;
        }

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            background: $white;
            color: $black;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            transition: 0.3s ease-out;
            border: 1px solid rgba(0, 0, 0, 0.15);

            @include mobile {
                width: 20px;
                height: 20px;
                font-size: 10px;
            }
        }

        &.active {
            .timeline__navigation__item__title {
                background: $yellow;
            }
        }

        &:hover {
            .timeline__navigation__item__title {
                background: $yellow;
            }

            .timeline__navigation__item__content {
                opacity: 1;
                color: $yellow;
            }
        }

        &__content {
            color: $yellow;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            opacity: 0;
            transition: 0.3s ease-out;

            @include mobile {
                opacity: 1;
                color: $black;
                font-size: 12px;
            }
        }

        &.active {
            .timeline__navigation__item__content {
                color: $yellow;
                opacity: 1;
            }
        }
    }
}
